$imagePath: '~@tjip/emerald-global/scss/images/';
$iconsSystemPath: '~@tjip/emerald-icons/src/icons/system/';
$iconsProductPath: '~@tjip/emerald-icons/src/icons/product/';
@import '~@tjip/emerald-global/scss/_emerald_variables';
